html, body, #root {
  height: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;
  padding: 10em;
}

#categories-menu {
  background-color: rgb(210, 213, 255);
  width: 25%;
  margin: auto;
}

#results-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  text-align: left;
  padding: 1em;
  width: 70%;
  margin: 1em;
  border: 2px solid black;
}
