
main {
  font-family: 'Roboto', serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10em;
}

#categories-menu {
  width: 25%;
  margin: auto;
}

#results-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  text-align: left;
  padding: 1em;
  width: 70%;
  margin: auto;
  border: 2px solid lightgray;
  border-radius: .5em;
}

@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    padding: 0;
  }

  #categories-menu {
    width: stretch;
    margin: 1em;
  }

  #results-container {
    width: auto;
    margin: 1em;

  }
}